<div>
  <div *ngIf="(user | async)?.identity">
    <div style="float: left;">
      <div *ngIf="(user | async)?.identity.picture">
        <img width="32" height="32" src="{{(user | async)?.identity.picture}}"/>
      </div>
      <div>Hello {{(user | async)?.identity.givenName}} {{(user | async)?.identity.familyName}}</div>
    </div>
    <div style="float: left;">
        <button (click)="userService.logout()">Log out</button>
    </div>
  </div>

  <div *ngIf="!(user | async)?.identity">
    <button class="loginBtn loginBtn--google" onclick="location.href='/login/google/' + btoa(window.location.origin)">
      Log in
    </button>
  </div>
</div>
